<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<style type="text/css" media="screen">
			table * {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1 class="center" style="text-align: center; margin-bottom: 50px;">商品列表</h1>
			<table class="table table-bordered table-striped">
				<thead>
					<tr class="active">
						<td>商品名称</td>
						<td>售价</td>
						<td>销量</td>
						<td>所属分类</td>
						<td>操作</td>
				</thead>
				<tbody class="query-result">
					<tr class="del">
						<td>晨光文具</td>
						<td>199</td>
						<td>199</td>
						<td>文具</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>龙猫水杯</td>
						<td>398</td>
						<td>199</td>
						<td>钢笔</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>时尚多功能网格笔筒</td>
						<td>233</td>
						<td>233</td>
						<td>233</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>英雄牌钢笔</td>
						<td>123</td>
						<td>123</td>
						<td>123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>哆啦A梦文件夹</td>
						<td>9.9</td>
						<td>123</td>
						<td>123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>小黄人圆珠笔</td>
						<td>123</td>
						<td>123</td>
						<td>123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
					<td>物理笔记本</td>
						<td>19.9</td>
						<td>123</td>
						<td>123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>小鹿笔记本</td>
						<td>123</td>
						<td>123</td>
						<td>123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>学生卡片包</td>
						<td>5.5</td>
						<td>123</td>
						<td>123123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>办公签字笔</td>
						<td>29.9</td>
						<td>123</td>
						<td>123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>欧亚文化办公用品</td>
						<td>292.1</td>
						<td>2</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>1111111</td>
						<td>1</td>
						<td>1</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>本派的</td>
						<td>1</td>
						<td>1</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>A4资料册30/40/60页</td>
						<td>8.99</td>
						<td>1</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>得力5622档案管理盒</td>
						<td>5.5</td>
						<td>99</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>金得利E310透明两页袋单片文件夹袋</td>
						<td>6.98</td>
						<td>11</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>得力9209三层文件座文件架文件框</td>
						<td>23</td>
						<td>99</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>最新热门爆款得力办公5176资料册 </td>
						<td>11.5</td>
						<td>99</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>时尚多功能网格笔筒</td>
						<td>233</td>
						<td>233</td>
						<td>233</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>英雄牌钢笔</td>
						<td>123</td>
						<td>123</td>
						<td>123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>哆啦A梦文件夹</td>
						<td>9.9</td>
						<td>123</td>
						<td>123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>小黄人圆珠笔</td>
						<td>123</td>
						<td>123</td>
						<td>123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
					<td>物理笔记本</td>
						<td>19.9</td>
						<td>123</td>
						<td>123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>小鹿笔记本</td>
						<td>123</td>
						<td>123</td>
						<td>123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>学生卡片包</td>
						<td>5.5</td>
						<td>123</td>
						<td>123123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>办公签字笔</td>
						<td>29.9</td>
						<td>123</td>
						<td>123</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>欧亚文化办公用品</td>
						<td>292.1</td>
						<td>2</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>1111111</td>
						<td>1</td>
						<td>1</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>本派的</td>
						<td>1</td>
						<td>1</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>A4资料册30/40/60页</td>
						<td>8.99</td>
						<td>1</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>得力5622档案管理盒</td>
						<td>5.5</td>
						<td>99</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>金得利E310透明两页袋单片文件夹袋</td>
						<td>6.98</td>
						<td>11</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>得力9209三层文件座文件架文件框</td>
						<td>23</td>
						<td>99</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
					<tr>
						<td>最新热门爆款得力办公5176资料册 </td>
						<td>11.5</td>
						<td>99</td>
						<td>null</td>
						<td>
							<a class="btn btn-default itemDel" class="itemDel" href="#" role="button">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination">
			  <li><a href="#">&laquo;</a></li>
			  <li class="active"><a href="#">1</a></li>
			  <li class="disabled"><a href="javascript:;">&raquo;</a></li>
			</ul>
		</div>
	</body>
</html>