<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="container">
		<h1 style="text-align: center;">用户列表</h1>
		<table style="text-align: center;" class="table table-bordered table-striped">
				<thead>
					<tr class="active">
						<td>ID</td>
						<td>用户名</td>
						<td>密码</td>
						<td>邮箱</td>
				</thead>
				<tbody class="query-result">
					<tr class="del">
						<td>1</td>
						<td>qweqwe</td>
						<td>qweqwe</td>
						<td>465293685@qq.com</td>
					</tr>
					<tr>
						<td>2</td>
						<td>18142399896</td>
						<td>123456</td>
						<td>465293685@qq.com</td>
					</tr>
					<tr>
						<td>3</td>
						<td>qqwwee</td>
						<td>qqwwee</td>
						<td>123456@qq.com</td>
					</tr>
					<tr>
						<td>4</td>
						<td>qqwwee</td>
						<td>123456</td>
						<td>123456</td>
					</tr>
					<tr>
						<td>5</td>
						<td>liul.9</td>
						<td>123456</td>
						<td>123456</td>
					</tr>
					<tr>
						<td>6</td>
						<td>machao</td>
						<td>123456</td>
						<td>123456</td>
					</tr>
					<tr>
					<td>7</td>
						<td>xueke</td>
						<td>123456</td>
						<td>123456</td>
					</tr>
					<tr>
						<td>8</td>
						<td>123456</td>
						<td>123456</td>
						<td>doraemon.ll@foxmail</td>
					</tr>
				</tbody>
			</table>
	</div>
</body>
</html>